<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.evendanan.android.hagarfingerpainting"
      android:versionName="1.2-20111031" android:versionCode="3">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".HagarFingerpaintingActivity"
                  android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FingerpaintSettingsActivity"
                  android:label="@string/app_name" android:exported="false">
        </activity>
        
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
    </application>
    <!-- to take screenshots -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	
	<!-- we want to keep screen on, so the learning will not stop -->
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<!-- for AdMob -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
	<!-- device features required -->
    <uses-configuration android:reqTouchScreen="finger"/>
    <uses-configuration android:reqTouchScreen="stylus"/>
</manifest>
